html{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/pexels-lukas-616409.jpg") no-repeat;
    background-size: cover;

}


.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 37%;
    margin-top: 0%;
}



.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#second{
    background-color: white;
    color: #04AA6D;
}




.box2{
    width: 350px;
    padding: 15px;
    margin-top: 5%;
    background: white;
    border-radius: 10px;
    margin-right: 350px;

}


input {
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: black;

}

.submit{
    font-family: CountryBlueprint;
    margin-left: 30%;
    margin-top: 30px;
    font-size: large;
}

.input{

    border-radius: 20px;

}


.signup{
    font-family: CountryBlueprint;
    font-size: large;
    margin-left: 30%;
    margin-top: 30px;
}

.title{
    margin-left: 42%;
    margin-top: 8%;
    margin-bottom: -2%;
    font-family: CountryBlueprint;
    font-size: xxx-large;
    color: white;
}

@media (max-width: 1000px){
    html{
        height: 100%;
    }
    .box2{
        margin-left:-17% ;
    }
    .title{
        margin-left: 33%;
    }
}








