.main {
  background: url("./images/food1.jpg");
  background-position-y: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #fff;
  padding: 0 6vw;
  margin: -10px;
  height: 350px;


}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
  font-family: CountryBlueprint;
  margin-right:80px ;
}


input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
  font-size: large;
  text-decoration: none;
}


.form1{
  border-radius: 10px;
  padding: 15px;
  background: white;
  margin-left:28% ;
  width: 50%;

}

.zomato{
  text-align: center;
  margin-top: 100px;
  font-size: xxx-large;
  font-family: CountryBlueprint;

}


.topnav-right {
  float: right;
}



.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box1{
    height: 225px;
    width: 225px;
    margin-top: 100px;
    background: url("images/br.jpg");
    border-radius: 15px;

}



.breakfast{
    text-align: center;
    font-family: CountryBlueprint;
    margin-top: -40px;
    font-size:x-large ;
}



.box{
    height: 225px;
    width: 225px;
    margin-top: 100px;
    background: url("images/lunch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    align-content: center;
    background: center;
}


.breakfast:hover {
 cursor: pointer;
}

.fav{
    text-align: center;
    margin-top: 100px;
    font-family: CountryBlueprint;
    font-size: xxx-large;
}

@media (max-width: 1000px) {
    .container {
        margin-left: 40%;
        flex-direction: column;
    }
    .main{
        background-size: 150%;
    }
}



