
html{
  background: url("imgs/vintage-old-rustic-cutlery-dark.jpg");
  background-size: cover;

}

#form1 {
  padding: 15px 0 25px 0;
  width:35%;
  margin:25px 0 0 0;
  display:Flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:15px;
  border-radius: 15px;
}

.title{
  font-family: CountryBlueprint;
  color: white;
}

.signup_container {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 30%;

}

#sign-up{
    font-family: CountryBlueprint;
    font-size: large;
    margin-top: 30px;
}

input {

  background-color: white;
  text-decoration: none;
  border-radius: 15px;
  height: 15px;
  padding: 10px;
}



@media (max-width: 1000px) {

#form1 {
  width:90%;
}
  html{
    width: 250%;
  }
  .signup_container{
    margin-top: 30px;
    margin-left:-50%;
  }

}

