html{
  background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url("imgs/up.jpg");
  background-size: cover;
}



#form1 {
  padding: 15px 0 25px 0;
  width:35%;
  margin:25px 0 0 0;
  display:Flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:15px;
  border-radius: 15px;
}

.input_info_container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;
  gap:15px;
  margin:10% 0  0 25%;
  padding:0 0 15px 0;
}

.signup_container {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0%;
  margin-top: 8%;

}
#sign-up{
    font-family: CountryBlueprint;
    font-size: large;
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

input {

  background-color: white;
  text-decoration: none;
  border-radius: 15px;
  height: 15px;
  padding: 10px;
}
#desc{
    background-color: white;
  text-decoration: none;
  border-radius: 15px;
  height: 80px;
  padding: 10px;

}

.title{
  font-family: CountryBlueprint;
  color: white;
}